<!-- <div class="container" *ngFor="let car of carDetails"> -->
  <div  class="container" *ngFor="let car of carDetails">
    
<div class="col-xs-8">
  <img class="car-img" [src]='imgUrl+car?.image'>
</div>
<div class="col-xs-4 car-details-section">
  <p class="car-details-heading">Car Details:</p>
  <table>
    <tr>
      <td class="td td-info">Make:</td>
      <td>{{car.make}}</td>
    </tr>
    <tr>
      <td class="td td-info">Model:</td>
      <td>{{car.model}}</td>
    </tr>
    <tr>
      <td class="td td-info">Date Added:</td>
      <td>{{car.date_added}}</td>
    </tr>
    <tr>
      <td class="td td-info">Price:</td>
      <td>{{car.price}} €</td>
    </tr>
    <tr>
      <td class="td td-info">Year Model:</td>
      <td>{{car.year_model}}</td>
    </tr>
    <tr>
        <td class="td td-info">Warehouse Name:</td>
        <td>{{car.name}}</td>
      </tr>
    <tr>
      <td class="td td-info">Location:</td>
      <td class="">{{car.location}}</td>
    </tr>
  </table>
   <button class="btn btn-block back-button" (click)="addToCart(car)">Add to Cart</button>
   <h4 *ngIf="isAdded" class="added-to-cart">Car has been added in your cart!!</h4>

</div>
<!-- </div> -->
</div>
<div class="nav-button">
  <button class="btn btn-primary" (click)="goPrevious()">Previous Car</button>
  <button class="btn btn-primary" (click)="goNext()">Next Car</button>
  <!-- <button class="btn btn-block back-button" (click)="GoToCarList()">Back</button> -->
</div>